@import "compass";
@import "compass/reset";

@import "definitions";
/* @import "keyframes"; */

@import "components/wrapper";

.header {
    padding: 1em;
    background-color: #eee;
}

.content {
    padding: 1em;
}