extends layout/DefaultLayout

prepend ConfigBlock
  - page_name = ''

// append StylesheetBlock

// append JavascriptBlock

block ContentBlock
  ul
    li: a(href="camera-preview-demo.html") camera preview demo